/*
 *  Flex Layout Specifics
*/



.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:201px;
  list-style:none;
  padding:0;

}

.draw {
  background-color: #602fd0;
  background-color: rgb(202,233,245);
  border-top: 1px solid #0091b5;
  border-right:1px solid #0091b5;
  border-left-color: #fff;
  border-right-color: #fff;
  list-style: none;
  width:200px;
  height: 50px;
  padding: 3px 30px;
  font-size: 16px;

  border: solid 1px #071bb0;
  border-left: 0px ;

}


.draw2{

  height:150px;

}
.draw3{

  height:275px;

}

.spacer {

  background-color: #602fd0;
  background-color: rgb(202,233,245);
  border-top: 1px solid #0091b5;
  border-right:1px solid #0091b5;
  border-left-color: #fff;
  border-right-color: #fff;
  list-style: none;
  width:200px;
  height: 50px;
  padding: 3px 30px;
  font-size: 16px;
  border: none;

}


li.game-top{ 
  border-bottom:0px solid #aaa; 
  list-style:none;
  width:200px;

}
