.Back{

    background-color: rgb(224, 236, 245);
    background-color: "CAE9F5";


    background-color: rgb(202,233,245);

}

.BackInput{

    background-color: rgb(210, 230, 210);
    background-color: rgb(204, 204, 255);

    background-color: rgb(240,248,255);


}

.BackEmail{

    background-color: rgb(255, 253, 208);
}

.Title{

    position: center;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(189, 205, 243);
}


.LeftBar{

    color: white;
    background-color: rgb(102, 102, 157);
    background-color: rgb(75, 9, 229);
    background-color: rgb(224, 176, 255);
    background-color: rgb(204, 204, 255);

    background-color: rgb(99, 4, 48);
      

    font-size: 15px;
    font-style: bold;
}

.RightBar2{

    color: white;
    background-color: rgb(51, 51, 241);
    font-size: 14px;

}

.RightCenter{


    display: flex;
    align-items: center;
    background-color: rgb(254,254,254);

}

   
    


.Link{
    color: white
}

.Link_Red{
    color: rgb(211, 40, 40);
    font-size: 1.25em;

}

.Memb_Color{
    color: rgb(121, 66, 223);
    font-size: 1.2em;
    font-weight: 500;
}

.col-sm-3half, .col-sm-8half {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-sm-3half, .col-sm-8half {
        float: left;
    }
    .col-sm-3half {
        width: 29.16666667%;
    }
    .col-sm-8half {
        width: 70.83333333%;
    }
}


.NavLink a:hover {
   
    font-size: 1.2em;
    
}


/*

a{
  color: rgb(16, 224, 228);
  font-size: 1.5em;
}


a:link {
    display: block;
    font-size: 1em;
    outline: thin solid;
}


*/
